@import "base";
@import "mixins";

@media (width < 620px) {
  $outer-spacing: 20px 30px;

  .main {
    background-image: url("../images/orange-mobile.png");
    background-color: #4abdf2;

    .title {
      margin-bottom: 50px;
    }

    i {
      font-size: 21px;
      display: block;
    }

    .navigation {
      display: none;
    }
  }

  .egg-text-container, .cup-text-container {
    flex-direction: column;

    & > section {
      width: 100%
    }
  }

  .info-section {
    align-items: center;
    padding: 50px 24px;
  }


  .sub-title {
    text-align: center;
  }

  .paragraph {
    text-align: center;
  }

  .cherry-clementine-container {
    flex-direction: column;

    .fruit-container {
      width: 100%;
      padding: 30px;
    }
  }

    // Testimonials css

    .testimonials-section {
        .testimonials-title {
          letter-spacing: 4px;
          font-size: 16px;
        }

        .testimonials-container {
          flex-direction: column;

          .testimonial {
            margin: 32px 0;

            .client-review-text {
              margin: 32px 0;
            }
          }
        }
     }

    // Gallery section
    .gallery-section {
      flex-wrap: wrap;

      .gallery-photo-container {
        width: 50%;
        height: 50vw;
      }
    }

     // Footer section
    .footer-section {
      .footer-links {
        width: 100%;
        display: flex;
        justify-content: space-around;

        a {
          margin: 0;
        }
      }

      .footer-socials {

        width: 60%;  
      }
    }
}
